/* body font */
body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 1600px;
  height: 1880px;

  background: #ffffff;
}

.header {
  background: #ffffff;
}

.Web {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.wStudio {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #000000;
}

/* navigate */

.top_text_1 {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.top_text_2 {
  position: absolute;
  width: 76px;
  height: 16px;
  left: 552px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.top_text_3 {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

/* mail & phone */
.mail {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.phone {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

/* main */

.main-sect {
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 174px;
}

/* button */

.button-sect {
  width: 611px;
  height: 54px;
  left: 495px;
  top: 174px;
}

.button1 {
  position: absolute;
  width: 73px;
  height: 38px;
  left: 495px;
  top: 168px;

  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button2 {
  position: absolute;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 168px;

  background: #f5f4fa;
  border-radius: 4px;
}

.button3 {
  position: absolute;
  width: 145px;
  height: 38px;
  left: 712px;
  top: 168px;

  background: #f5f4fa;
  border-radius: 4px;
}

.button4 {
  position: absolute;
  width: 103px;
  height: 38px;
  left: 865px;
  top: 168px;

  background: #f5f4fa;
  border-radius: 4px;
}

.button5 {
  position: absolute;
  width: 130px;
  height: 38px;
  left: 976px;
  top: 168px;

  background: #f5f4fa;
  border-radius: 4px;
}

/* img */
.img1_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 253px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.img1_li_text {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 570px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}

.img1_li_text1 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 610px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}

.img2_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 253px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.img2_li_text {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 570px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.img2_li_text1 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 610px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}

.img3_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 253px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.img3_li_text {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 570px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.img3_li_text1 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 610px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.img4_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 687px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img4_li_text {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1004px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.img4_li_text1 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1044px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}
.img5_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 687px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.img5_li_text {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1004px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}

.img5_li_text1 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1044px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.img6_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 687px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img6_li_text {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1004px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;

  color: #212121;
}
.img6_li_text1 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1044px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.img7_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 1121px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img7_li_text {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 1435px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.img7_li_text1 {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 1475px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.img8_li {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 615px;
  top: 1121px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}
.img8_li_text {
  width: 322px;
  height: 36px;
  left: 639px;
  top: 1435px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}

.img8_li_text1 {
  width: 322px;
  height: 30px;
  left: 639px;
  top: 1475px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

.img9_li {
  box-sizing: border-box;

  position: absolute;
  width: 370px;
  height: 404px;
  left: 1015px;
  top: 1121px;

  background: #ffffff;
  border: 1px solid #eeeeee;
}

.img9_li_text {
  width: 322px;
  height: 36px;
  left: 1039px;
  top: 1435px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
.img9_li_text1 {
  width: 322px;
  height: 30px;
  left: 1039px;
  top: 1475px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: #757575;
}

/* footer */
.footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;

  background: #2f303a;
}

.footerStudio {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.map {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1739px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.mailfoot {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1769px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.phonefoot {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 1799px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
