body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* index html styles */

.header {
  background-color: #ffffff;
}
.Web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  color: #2196f3;
}
.Studio {
  color: #000000;
}
.header_text {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.contacts {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

/* Main */

.main_bg {
  background-color: #2f303a;
}
.main_text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.main_btn {
  /* text */

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  /* btn bg */

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
}

/* main traits section */

.main_trait1_text {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: #212121;
}
.main_trait_downer_text {
  line-height: 24px;

  color: #757575;
}

/* what are we doing section */

.wawd_section_tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #212121;
}
/*  */
/*  */
/*  */
/*  */

/* our team section */

.our_team_sect {
  background-color: #f5f4fa;
}
.our_team_text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #212121;
}
.our_team_name_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #212121;
}
.our_team_job_tittle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #757575;
}

/* footer */

.footer {
  background-color: #2f303a;
}
.footer_Studio {
  color: #ffffff;
}
.footer_map {
  line-height: 24px;

  color: #ffffff;
}
.footer_contacts {
  line-height: 24px;

  color: rgba(255, 255, 255, 0.6);
}
